.pppp{
    color: #F54C1E;
font-size: 20px;
font-weight: 700;

letter-spacing: 4.2px;
}
.h--{
    color: #031333;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
 
}